@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group {
  font-size: 13px !important;
}

.rbc-btn-group button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  min-width: 100px !important;
  margin-left: 5px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) !important;
  font-size: 14px !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
}

.rbc-month-row {
  overflow: visible !important;
}
